
# Aliases
alias b='cd ..'
alias cp='cp -nv'
alias f='cd'
alias ga='git add -A'
alias gau='git add -u'
alias gc='git commit -m'
alias gca='git commit -am'
alias gd='git diff'
alias gds='git diff --staged'
alias gl='git log'
alias glp='git log -p'
alias gls='git log --stat'
alias gp='git push'
alias gpa='git push --all'
alias gpt='git push --tags'
alias gs='git status'
alias gu='git pull'
alias l='ls -alG'
alias l1='ls -a1G'
alias la='ls -aG'
alias ll='ls -alG'
alias mv='mv -nv'
alias rm='rm -iv'
alias rmn='/bin/rm'
alias rmnf='/bin/rm -rf'
alias s='sync'
alias vi='vim'
alias vin='/usr/bin/vi'
alias www='python -m SimpleHTTPServer'
